#showcase .container{
  padding-top:15vh;
}
#main-card .container{
  padding:0;
  display: block;
}
.card{
  padding:1rem 0;
}

.container-about{
  padding:0;
  display: inline-block;
}
#main-about .container-about .about-img{
  background: url(../img/about-1.jpg)no-repeat center center/cover ;
  height:200px;
  width:340px;
}
#main-about .container-about .about-img-2{
  display: none;
}
.about-para{
  margin-bottom: 2rem;  
}

/* Team */
#main-team .container{
  margin-left:4rem;
  display: block;
  align-items: center;
}
.img-1{
  background: url(../img/Team/women-1.jpg)no-repeat center center/cover;
  height:100px;
  width:100px;
  border-radius: 100%;
  margin-left:40px;
  
}
.img-2{
  background: url(../img/Team/men.jpg)no-repeat center center/cover;
  height:100px;
  width:100px;
  border-radius: 100%;
  margin-left:33px;
}
.img-3{
  background: url(../img/Team/women-2.jpg)no-repeat center center/cover;
  height:100px;
  width:100px;
  border-radius: 100%;
  margin-left:40px;
}
.team-content{
  text-align: center;
  margin-left:-15px;
}

/* blog section */
#main-blog{
  align-items: center;
  margin-left:none;
}
.blog-img-1{
  background:url(../img/blog/blog-1.jpg)no-repeat center center/cover;
  height:250px;
  width:300px;
}
.blog-img-2{
  background:url(../img/blog/blog-2.jpg)no-repeat center center/cover;
  height:250px;
  width:300px;
}
.blog-img-3{
  background:url(../img/blog/blog-3.jpg)no-repeat center center/cover;
  height:250px;
  width:300px;
}
#main-blog .container{
  padding-right:1rem;
}
.blog-content{
  padding-right: 1rem;
}
.blog-card{
  width:350px;
  margin-bottom: 20px;
  margin-left: -1rem;
  width:320px;
}
#main-blog .container{
  display: block;
}

/* Contact Section */
.form {
  display: block;
}