:root{
  --primary-color:#ef476f;
  --secondary-color:#e63946;
  --light-color:#f4f4f4;
}
*{
 padding:0;
 margin: 0; 
 box-sizing: border-box;
}
ul{
  list-style: none;
  
}
a{
  text-decoration: none;
  color:#333;
}
body{
  line-height: 1.5;
  background:var(--light-color);
  font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
}
.container{
  max-width: 1300px;
  padding: 0 2rem;
  margin:auto;
  overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway';
  margin-bottom: .5rem;;
  line-height: 1.3;
}
p{
  color:#333;
}
.py{
  padding:1rem 1rem;
}
.py-2{
  padding:2rem 2rem;
}
.py-3{
  padding:3rem 3rem;
}
.py-4{
  padding:4rem 4rem;
}
/* Utility Classes */
.btn{
  border-radius: 16px;
  padding:.2rem .8rem;
  
}
.btn-primary{
  background:var(--secondary-color);
}
.btn-secondary{
  background:var(--primary-color);
  border:1px solid #333;
}
.btn-secondary:hover{
  opacity:0.9;
}
.l-heading{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.card-dark{
  background:#ddd;
}
/* Nav Using Flex */
#main_nav img{
  width:90px;
  height:60px;
  padding: .4rem;
}
#main_nav{
  position:sticky;
  top:0;
  background:#fff;
  z-index: 10;
 }
#main_nav .container{
  display:flex;
  justify-content: space-between;
 
}
#main_nav .container ul{
  display: flex;
  align-items: center;
}
#main_nav .container ul a{
  padding: 0 .5rem;

}
#main_nav .container ul a:hover{
  border-bottom: solid 2px var(--primary-color);

}

/* Showcase Section */
#showcase { 
  background: url('../img/showcase.jpg')no-repeat center center/cover;
  height:100vh;
  opacity: 0.9;
  position: relative;
}
#showcase .container{
  display:flex;
  align-items:center;
  text-align: center;
  justify-content: center;
  padding-top:30vh;
  color:#fff;

}
.showcase-para{
  padding-bottom: 1rem; 
  color: #fff;
}
#showcase *{
  z-index: 1;
}

/* Card Section */

#main-card .container{
  background: #fff;
  padding:0 3rem;
  display:grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.card{
  padding:3rem 2rem;
  align-items: center;
  text-align: center;
  max-height:300px;
}
.card i{
  margin-bottom: 1rem;
}
.fas, .far{
  color:var(--primary-color);
}

/* About Section */
.container-about{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding:2rem 7rem;
  grid-gap:1fr;
  margin-top: 1rem;;
}
#main-about .container-about .about-img{
  background: url(../img/about-1.jpg)no-repeat center center/cover ;
  height:300px;
  width:500px;
}
#main-about .container-about .about-img-2{
  background: url(../img/about-2.jpg)no-repeat center center/cover ;
  height:300px;
  width:500px;
}
.about-para{
  margin-bottom: 2rem;
}
/* Team Section */
#main-team{
  background:#fff;
}
#main-team .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:2fr;
  align-items: center;
  padding:1rem 3rem;
  margin-left: 6rem;
}
.img-1{
  background: url(../img/Team/women-1.jpg)no-repeat center center/cover;
  height:250px;
  width:210px;
  border-radius: 100%;
}
.img-2{
  background: url(../img/Team/men.jpg)no-repeat center center/cover;
  height:250px;
  width:210px;
  border-radius: 100%;
}
.img-3{
  background: url(../img/Team/women-2.jpg)no-repeat center center/cover;
  height:250px;
  width:210px;
  border-radius: 100%;
}
.team-para, .team-heading, .team-name {
 padding:.5rem 0;
 width:210px;
}
.team-heading{
  margin-bottom:0;
}
.team-content{
  text-align: center;
}

/* Blog Section */
.blog-card{
  background: #fff;
  align-items: center;
  margin:0 .5rem;
  height: 400px;
  padding:.5rem;
  border-radius: 10px;;
}
#main-blog .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:2fr;
  align-items: center;
  margin:1.5rem 0;
  
  
}
.blog-img-1{
  background:url(../img/blog/blog-1.jpg)no-repeat center center/cover;
  height:250px;
  width:350px;
}
.blog-img-2{
  background:url(../img/blog/blog-2.jpg)no-repeat center center/cover;
  height:250px;
  width:350px;
}
.blog-img-3{
  background:url(../img/blog/blog-3.jpg)no-repeat center center/cover;
  height:250px;
  width:350px;
}
.blog-img-1 >p, .blog-img-2 >p ,.blog-img-3 >p{
  width:140px;
  margin:.5rem;
  text-align: center;
  
}
.blog-para{
  margin-bottom: 1rem;
  width:310px;
}
/* Contact Section */
.fab{
  color:#3a86ff;
}
#contact-main .social-media ul li{
  display:inline-block;
  padding:.5rem;
}
#contact-main .social-media{
  text-align: center;
  align-items: center;
}
.form {
  display: grid;
  grid-template-columns: 4fr 2fr;
  margin:1rem 2rem;
  
}
.form input{
  display: block;
  grid-template-columns: 5fr 2fr;
}
.form-bg{
  background: var(--light-color);
  border-radius: 10px;
}
.form input{
  border:none;
  border-bottom: 2px solid #333;
  padding:1rem;
  margin:1rem 2rem;
  height:10px;
  background: var(--light-color);
  color:#333;
  width:90%;
  
}
.form input[type='submit']{
  width:100px;
  border: 1px solid #333;
  background: var(--primary-color);
 
}
.form textarea{
  border:none;
  border-bottom: 2px solid #333;
  padding:1rem;
  margin:1rem 2rem; 
  height:10px;
  background: var(--light-color);
  overflow: hidden;
  color:#333;
  width:90%;
}
.address{
  text-align: center;
}
